@import "tailwindcss";

:root {
  --background: #fff7ed;
  --foreground: #111827;
}

html,
body {
  background: #fff7ed;
  color: #111827;
}

button {
  color: inherit;
}

* {
  box-sizing: border-box;
}